.screen {
    @media not screen {
        display: none;
    }
}

.hover-hover {
    @media not (hover: hover) {
        display: none;
    }
}

.hover-none {
    @media not (hover: none) {
        display: none;
    }
}

.pointer-none {
    @media not (pointer: none) {
        display: none;
    }
}

.pointer-coarse {
    @media not (pointer: coarse) {
        display: none;
    }
}

.pointer-fine {
    @media not (pointer: fine) {
        display: none;
    }
}