body {
	margin: 0;
	font-family: Arial, sans-serif;
}

.fixed-background {
	background-color: black;
	background-image: url('background-image.webp');
	background-size: cover;
	background-attachment: fixed;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items:end;
	color: white;
	width: 100%;
}

.content {
	background-color: #1e1e1e;
	padding: 20px;
	width: 100%;
	margin-top: 30vh;
}

@media only screen and (min-width: 1001px)
{
	.content {
		border-radius: 10px;
		margin-left: 5vh;
		margin-right: 5vh;
		margin-bottom: 10vh;
	}
}

.pp_container {
	border-radius: 10px;
	position: relative;
	background-color: #1e1e1e;
	top: -200px;
	left: -20px;
	width:250px;
	max-width:250px;
	height:250px;
	max-height:250px;
	display: inline-block;
	margin-bottom: -200px;
}

.pp {
	border-radius: 10px;
	position: relative;
	top: 25px;
	left: 25px;
	width:200px;
	max-width:200px;
	margin-bottom: -150px;
}

.title-bar {
	width: 100%;
	height: 2px;
	background-color: #575757;
}

.small-title-bar {
	width: 50%;
	height: 2px;
	background-color: #575757;
}

h1 {
	z-index: 1;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.image-container {
	margin: 10px;
	cursor: pointer;
	text-align: center;
	justify-content: center;
	display: inline-block;
}

.image-container div {
	position: relative;
}

.image-container img {
	max-width: 100%;
	border-radius: 5px;
	transition: transform 0.2s;
}

@media only screen and (min-width: 1001px)
{
	.image-container img {
		height: 225px;
		width: auto;
	}
}

@media only screen and (max-width: 1000px)
{
	.image-container img {
		width: 70%;
		height: auto;
	}
}

.image-container img:not(.videoThumb):hover {
	transform: scale(1.03);
}

.playIcon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0.7;
	transition: transform 0.2s;
}

@media only screen and (min-width: 1001px)
{
	.playIcon:hover {
		transform: translate(-50%, -50%) scale(1.1);
	}
}

@media only screen and (max-width: 1000px)
{
	.playIcon {
		transform: translate(-50%, -50%) scale(0.7);
	}

	.playIcon:hover {
		transform: translate(-50%, -50%) scale(0.75);
	}
}

@media only screen and (max-width: 1000px)
{
	.project {
		display: flex;
		flex-direction: column;
	}
}

h3 {
	font-size: 23px;
}

li {
	margin-bottom: 10px;
	font-size: 20px;
}

p {
	font-size: 20px;
}

.buddies-gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

@media only screen and (max-width: 1000px)
{
	.buddies-gallery {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
}

.buddiesPP {
	text-align: center;
}

.buddiesPP img {
	border-radius: 50%;
	transition: transform 0.2s, filter 0.2s;
	transform-style: preserve-3d;
}

.buddiesPP img:hover:not(:active) {
	transform: scale(1.03);
}

.buddiesPP img:active {
	filter: brightness(50%);
}

@media only screen and (min-width: 1001px)
{
	.buddiesPP {
		padding: 10px;
	}
}

@media only screen and (max-width: 1000px)
{
	.buddiesPP {
		padding: 30px;
		min-width: 200px;
	}
}

.buddiesPP img.rotate {
	animation: rotateBuddy 1s ease-in-out forwards;
}
  
@keyframes rotateBuddy {
	0% {
		transform: rotateY(0deg);
	}
	32% {
		filter: brightness(1);
	}
	33% {
		filter: brightness(0.8);
	}
	66% {
		filter: brightness(0.8);
	}
	67% {
		filter: brightness(1);
	}
	100% {
		transform: rotateY(360deg);
	}
}

.alignedBlocksContainer {
	width: 100%;
	border-collapse: collapse;
}

@media only screen and (min-width: 1001px)
{
	.alignedBlocksContainer {
		display: flex;
		justify-content: center;
	}
}

.alignedBlock {
	vertical-align: top;
	text-align: left;
	padding: 10px;
	display: inline-block;
}

@media only screen and (max-width: 1000px)
{
	.alignedBlock {
		display: block;
	}
}

a {
	text-decoration: none;
	transition: color 0.2s ease, text-decoration 0.2s ease;
	color: #007bff;
}

a:visited {
	color: #8a2be2;
}

a:hover {
	color: #ff4500;
	text-decoration: underline;
}

.linkcopy {
	margin-top: 0;
	padding-top: 0.83em;
}

.linkcopy::after {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="m7.775 3.275 1.25-1.25a3.5 3.5 0 1 1 4.95 4.95l-2.5 2.5a3.5 3.5 0 0 1-4.95 0 .751.751 0 0 1 .018-1.042.751.751 0 0 1 1.042-.018 1.998 1.998 0 0 0 2.83 0l2.5-2.5a2.002 2.002 0 0 0-2.83-2.83l-1.25 1.25a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042Zm-4.69 9.64a1.998 1.998 0 0 0 2.83 0l1.25-1.25a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042l-1.25 1.25a3.5 3.5 0 1 1-4.95-4.95l2.5-2.5a3.5 3.5 0 0 1 4.95 0 .751.751 0 0 1-.018 1.042.751.751 0 0 1-1.042.018 1.998 1.998 0 0 0-2.83 0l-2.5 2.5a1.998 1.998 0 0 0 0 2.83Z" fill="white"></path></svg>');
	width: 1em;
	height: 1em;
	opacity: 0%;
	transform: scale(0);
	display: inline-block;
	transition: opacity 0.2s, transform 0.2s;
	cursor: pointer;
	vertical-align: -0.2em;
	margin-left: 0.2em;
}

.linkcopy:hover::after {
	opacity: 100%;
	transform: scale(1);
}

.linkcopy:active::after {
	transform: scale(1.5);
}

@media only screen and (min-width: 1001px)
{
	.linkcopy::after {
		vertical-align: -0.2em;
	}
}

/*---------------IMAGE/VIDEO VIEWER---------------*/

#modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.close, .prev, .next {
	position: absolute;
	font-size: 30px;
	color: white;
	cursor: pointer;
	transition: transform 0.2s;
}

.close:hover, .prev:hover, .next:hover {
	transform: scale(1.1);
}

.close {
	top: 20px;
	right: 30px;
	
}

.close::before {
	content: "×";
}

.prev {
	left: 30px;
	top: 50%;
}

.prev::before {
	content: "❮";
}

.next {
	right: 30px;
	top: 50%;
}

.next::after {
	content: "❯";
}

#caption {
	margin-top: 20px;
	color: white;
	font-size: 2vh;
	text-align: center;
}

.modal-image, .modal-video {
	width: 100%;
	height: 100%;
}

@media only screen and (min-width: 1001px)
{
	#modal-neighbour {
		display: none;
	}
}

#modal-neighbour {
	position: absolute;
}

@media only screen and (max-width: 1000px)
{
	#modal {
		background-color: rgba(0, 0, 0, 1);
	}

	.close {
		transform: scale(2);
	}

	.close:hover {
		transform: scale(2.2);
	}

	.prev, .next {
		visibility: hidden;
	}
}

/*---------------NETWORKS AND LANGUAGE---------------*/

.navbuttons-container {
	display: block;
	float: right;
	transform: translate(0px, -40px);
}

.navbuttons-container a svg {
	transition: transform 0.2s, fill 0.2s;
}

.language-select {
	position: fixed;
}

select {
	width: 60px;
	height: 40px;
	border-radius: 10px;
	border: solid #363636;
	background-color: #1e1e1e;
	font-size: 20px;
	text-indent: -1000px;

	appearance: none;
	background-image: url("data:image/svg+xml;charset=utf-8,<svg width='10' height='6' fill='none' xmlns='http:%2F%2Fwww.w3.org/2000/svg'><path d='M1 1l4 4 4-4' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>");background-repeat: no-repeat;
	background-position: right 0.5rem top 50%;
	background-size: 0.65rem auto;
}

select:hover {
	background-color: #575757;
}

option {
	color: white;
}

.language-select span {
	font-weight: normal;
	font-size: 20px;
	user-select: none;
	pointer-events: none;
	position: relative;
	left: -62px;
}

.github-logo, .discord-logo, .reddit-logo, .modrinth-logo, .curseforge-logo, .mail-logo {
	position: relative;
}

.navbuttons-container a svg {
	padding: 10px;
}

.github-logo:hover:not(:active) {
	transform: scale(1.1);
}

.discord-logo {
	transform: translate(0px, 4px);
}

.discord-logo:hover:not(:active)  {
	transform: translate(0px, 4px) scale(1.1);
}

.reddit-logo {
	transform: translate(0px, -2px) scale(1.5);
	margin: 10px;
}

.reddit-logo:hover:not(:active) {
	transform: translate(0px, -2px) scale(1.65);
}

.modrinth-logo:hover:not(:active) {
	transform: scale(1.1);
}

.curseforge-logo:hover:not(:active) {
	transform: scale(1.1);
}

.mail-logo:hover:not(:active) {
	transform: scale(1.1);
}

.language-select {
	transform: translate(-70px, 3px);
}

.navbar-open, .navbar-close {
	visibility: hidden;
	position: fixed;
	display: block;
	float: right;
	transform: scale(0);
}

@media only screen and (max-width: 1000px)
{
	.navbuttons-container {
		height: 50%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		right: 0;
		background-color: #151515;
		transition: 0.5s;
		padding-top: 60px;
		transform: translateY(50%) scale(2);
		overflow-x: hidden;
	}

	.navbar-open {
		visibility: visible;
		position: relative;
		transform: translate(-10px, -40px) scale(1);
		transition: 0.2s;
	}

	.navbar-open:hover:not(:active) {
		transform: translate(-10px, -40px) scale(1.1);
	}

	.navbar-close {
		visibility: visible;
		display: inline-block;
		position: absolute;
		transform: translate(17px, -50px);
		transition: 0.2s;
		z-index: 6;
	}

	.navbar-close::before {
		content: "×";
	}

	.navbar-close:hover:not(:active) {
		transform: translate(17px, -50px) scale(1.1);
	}

	.navbar-open:active, .navbar-close:active {
		filter: brightness(50%);
	}

	.language-select {
		display: inline-block;
		position: absolute;
		transform: translate(-5px, -10px) scale(0.65);
	}

	.language-select span {
		left: 7px;
		top: -42px;
	}

	a:has(.github-logo) {
		display: inline-block;
		position: absolute;
		transform: translate(2px, 50px);
		z-index: 5;
	}

	a:has(.discord-logo) {
		display: inline-block;
		position: absolute;
		transform: translate(2px, 110px);
		z-index: 4;
	}

	a:has(.reddit-logo) {
		display: inline-block;
		position: absolute;
		transform: translate(2px, 170px);
		z-index: 3;
	}

	a:has(.modrinth-logo) {
		display: inline-block;
		position: absolute;
		transform: translate(2px, 230px);
		z-index: 2;
	}

	a:has(.curseforge-logo) {
		display: inline-block;
		position: absolute;
		transform: translate(2px, 290px);
		z-index: 1;
	}

	a:has(.mail-logo) {
		display: inline-block;
		position: absolute;
		transform: translate(2px, 350px);
	}
}

.github-logo:active, .discord-logo:active, .reddit-logo:active, .modrinth-logo:active, .curseforge-logo:active {
	filter: brightness(50%);
}

.github-logo:hover {
	fill: #8957E5;
}

.discord-logo:hover {
	fill: #5865F2;
}

.reddit-logo circle {
	fill: #FF5700;
	opacity: 0;
	transition: opacity 0.2s;
}

.reddit-logo:hover circle {
	opacity: 1;
}

.modrinth-logo:hover {
	fill: #1BD96A;
}

.curseforge-logo:hover {
	fill: #F16436;
}

.mail-logo:hover {
	fill: #EA4335;
}

path {
	user-select: none;
	pointer-events: none;
}

[desc]::after {
	content: attr(desc);
	white-space: nowrap;
	color: white;
	font-size: 15px;
	font-weight: normal;
	background-color: #363636;
	border-radius: 5px;
	padding: 5px;
	position: absolute;
	top: 90%;
	transform: translateX(-70%);
	opacity: 0%;
	transition: opacity 0.2s;
}

@media only screen and (max-width: 1000px)
{
	[desc]::after {
		transform: translateX(-100%);
	}
}

[desc]:hover::after {
	opacity: 100%;
}

/*---------------SNACKBAR---------------*/

#snackbar {
	visibility: hidden;
	min-width: 250px;
	background-color: #363636;
	color: white;
	text-align: center;
	border-radius: 10px;
	padding: 10px;
	position: fixed;
	z-index: 1;
	left: 30px;
	bottom: 30px;
	font-size: 2vh;
	justify-content: center;
	display: flex;
}

@media only screen and (max-width: 1000px)
{
	#snackbar {
		width: 90%;
		left: 5%;
	}
}

#snackbar.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
}
