body {
	margin: 0;
	font-family: Arial, sans-serif;
}

.fixed-background {
	background-image: url('background-image.jpg');
	background-size: cover;
	background-attachment: fixed;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items:end;
	color: white;
	width: 100%;
}

.content {
	background-color: #1e1e1e;
	padding: 20px;
	width: 100%;
	margin-top: 30vh;
	@media (pointer: fine) {
		border-radius: 10px;
		margin-left: 5vh;
		margin-right: 5vh;
		margin-bottom: 10vh;
	}
}

.pp_container {
	border-radius: 10px;
	position: relative;
	background-color: #1e1e1e;
    top: -200px;
	left: -20px;
	width:250px;
	max-width:250px;
	height:250px;
	max-height:250px;
	display: inline-block;
	margin-bottom: -200px;
}

.pp {
	border-radius: 10px;
	position: relative;
    top: 25px;
	left: 25px;
	width:200px;
	max-width:200px;
	margin-bottom: -150px;
}

.title-bar {
	width: 100%;
	height: 2px;
	background-color: #575757;
}

.small-title-bar {
	width: 50%;
	height: 2px;
	background-color: #575757;
}

h1 {
	z-index: 1;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
	justify-content: center;
}

.image-container {
    margin: 10px;
    cursor: pointer;
	text-align: center;
	position: relative;
	display: inline-block;
}

.image-container img {
    max-width: 100%;
	border-radius: 5px;
	transition: transform 0.2s;
	@media (pointer: fine) {
		height: 225px;
		width: auto;
	}
	@media (pointer: coarse) {
		width: 70%;
		height: auto;
	}
}

.image-container img:not(.videoThumb):not(.playIcon):hover {
	transform: scale(1.03);
}

.playIcon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0.7;
	@media (pointer: coarse) {
		transform: translate(-50%, -50%) scale(0.7);
	}
	
}

.playIcon:hover {
	@media (pointer: fine) {
		transform: translate(-50%, -50%) scale(1.1);
	}
	@media (pointer: coarse) {
		transform: translate(-50%, -50%) scale(0.75);
	}
}

#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    flex-direction: column;
	justify-content: center;
    align-items: center;
}

#modal-image {
    max-width: 90%;
    max-height: 80%;
}

#modal-video {
    max-width: 90%;
    max-height: 80%;
	
	height: 90%;
	width: auto;
}

.close, .prev, .next {
	position: absolute;
    font-size: 30px;
    color: white;
    cursor: pointer;
	transition: transform 0.2s;
	@media (pointer: coarse) {
    	transform: scale(2);
  	}
}

.close:hover, .prev:hover, .next:hover  {
	@media (pointer: fine) {
    	transform: scale(1.1);
  	}
	@media (pointer: coarse) {
    	transform: scale(2.2);
  	}
}

.close {
	top: 20px;
	right: 30px;
}

.prev {
	left: 30px;
	top: 50%;
}

.next {
	right: 30px;
	top: 50%;
}

#caption {
    margin-top: 20px;
    color: white;
    font-size: 18px;
}

h3 {
	font-size: 23px;
}

li {
	margin-bottom: 10px;
	font-size: 20px;
}

p {
	font-size: 20px;
}

.buddiesPP {
	text-align: center;
	
	@media (pointer: fine) {
    	margin: 10px;
  	}
	@media (pointer: coarse) {
    	margin: 30px;
		min-width: 200px;
  	}
}

.buddiesPP img {
	border-radius: 50%;
	transition: transform 0.2s;
}

.buddiesPP img:hover {
    transform: scale(1.03);
}

.alignedBlocksContainer {
	width: 100%;
	border-collapse: collapse;
	@media (pointer: fine) {
		display: flex;
		justify-content: center;
	}
}

.alignedBlock {
	vertical-align: top;
	text-align: left;
	padding: 10px;
  	display: inline-block;
  	@media (pointer: coarse) {
    	display: block;
  	}
}

a:link {
	color: #007bff;
	text-decoration: none;
}

a:visited {
	color: #8a2be2;
}
  
a:hover {
	color: #ff4500; 
	text-decoration: underline; 
}

.networks-container {
    display: block;
	float: right;
}

.networks-container a svg {
	margin: 10px;
	transition: transform 0.2s;
	@media (pointer: coarse) {
		margin-right: 75px;
	}
}

@media (pointer: fine) {
	.github-logo:hover {
		transform: scale(1.1);
	}
	
	.discord-logo {
		transform: translateY(4px);
	}

	.discord-logo:hover  {
		transform: scale(1.1) translateY(4px);
	}
}
@media (pointer: coarse) {
	.github-logo {
		transform: scale(2);
	}

	.github-logo:hover {
		transform: scale(2.2);
	}
	
	.discord-logo {
		transform: scale(2) translateY(4px);
	}

	.discord-logo:hover  {
		transform: scale(2.2) translateY(4px);
	}
}
